.App {
  text-align: center;
}

.navpad {
    padding-right: 10px;
}

body {
    background-image: url('./background.jpg');
    background-size: cover;
    font-family: 'Anton';
}

.labeltext {
    font-size: 50px;
    color: red;
}

.editform {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    border: 3px solid black;
    margin-top: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}

.home {
    background-color: white;
    padding: 15px;
    margin-top: 60px;
    border-radius: 5px;
    border: 3px solid black;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);

}

.logo {
    margin-left: 5px;
}

.tryit {
    font-size: 38px;
    width: 300px;
    height: 100px;
    margin-bottom: 20px;
}

.test {
    margin-bottom: 100px;
}

.submit {
    margin-bottom: 20px;   
}

.input-field > label {
    font-size: 24px;
    color: black;
}

.favorites {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    border: 3px solid black;
    margin-top: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}

.favorites-list {
    margin-bottom: 20px;
}

.anchorpad {
    padding: 15px;
    font-size: 16px;
}