.App {
  text-align: center;
}

.navpad {
    padding-right: 10px;
}

body {
    background-image: url('./background.jpg');
    background-size: cover;
    font-family: 'Anton';
}

.editform {
    background-color: #e65100;
    padding: 15px;
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}